<h1>Cardápio</h1>

<div class="menu">
  <% @produtos.each do |produto| %>
    <div class="produto">
      <h2><%= produto.nome %></h2>
      <p><%= produto.descricao %></p>
      <p>Quantidade disponível: <%= produto.quantidade %></p>
    </div>
  <% end %>
</div>
